body{
    background-color: rgb(210, 211, 211);
    
}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #202c2c;
    text-align: center;
    
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    border-color: rgb(2, 58, 27);
    /* width: 30em; */
    height: 2em;
    border-radius: 5px;
    
}

::placeholder{
    font-style: italic;
}

#lista{
    border-bottom: 1px;
    border-style: solid;
    border-width: 0.5px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(158, 61%, 86%);
    border-radius: 5px;
   

}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-right: 5em;
}