body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f3f5f5;
}

    /* Header */

header {
    /* background-image: linear-gradient(#003366, #006699); */
    background-color: #5a5959;
    display: flex;
    width: 100%;
    
}
header div span#titulo{
    /* background-image: linear-gradient(#003366, #006699); */
    
    display: flex;
    justify-content: center;
    
}

header{
    color: white;
    padding: 0.5em;
} 


div#logo {
    margin: auto 0;
    margin-right: 45%;

}

div#logo * {
    vertical-align: middle;
    margin-left: 0.5em;
    align-items: flex-start;
}

div#logo span {
    font-size: 2em;
    font-weight: bold;
}


div span#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
    /* Main */

main {
    height: 100%;
    padding: 1em;
    background-image: linear-gradient(#ffffff, #cccccc);
    align-items: center ;
}

/* h1#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #202c2c;
    text-align: center;
    
} */

input[type="text"]{
    width: 40%;
    border: 1px solid ;
    height: 2em;
    border-radius: 5px;
    
}

::placeholder{
    font-style: italic;
}

ul#lista{
   
    border-bottom: 1px;
    border-style: solid;
    border-width: 0.5px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
    border-radius: 5px;
    padding-right: 20px;
}


div#form{
    display: inline;
    text-align: center;
    
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    padding: 5px;
    
    border-bottom: 1px solid gray;
    
    
}
a{
    
    color: #000;
    text-decoration: none;
}
ul{
    list-style-type: none;
    align-items: center;

}
/* ul li span{  
    color: #ffffff;
    margin: auto;
    
    
    background-color: red;
} */
li {
    display: flex;
    align-items: center;
}

li span {
    
    width: 20px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 30px;
    background-color: #c00a0a;
}
h4#titulo_lista{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    border-bottom: 1px solid #505252;

    margin-right: 3em;

}

img{
    width: 40px;
    height: 40px;
}